body {
  font-family: "Arial", sans-serif;
}

header {
  background-color: #ffffff;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo {
  font-size: 24px;
}

nav ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

nav li {
  display: inline-block;
  margin-left: 10px;
}

nav a {
  text-decoration: none;
  color: #333;
  padding: 5px;
}

nav a:hover {
  background-color: #ddd;
}

.image-container {
  position: relative;
}

img {
    display: block;
    width: 100%;
    height: auto;
}

.image-text {
  position: absolute;
  top: 40%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 1);
  color: white;
  font-size: 32px;
  text-align: center;
}

.image-subtext {
  position: absolute;
  top: 60%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 1);
  color: white;
  font-size: 22px;
  text-align: center;
}

.content-container {
  display: flex;
}

.text-container {
  flex: 1;
  padding-right: 20px;
}

.form-container {
  flex: 1;
  padding-left: 20px;
}

.form-container h3 {
  margin-top: 0;
}

.form-container form {
  margin-top: 10px;
}

.form-container label, .form-container input, .form-container button {
  display: block;
  margin-bottom: 10px;
}

.form-container input, .form-container button {
  width: 100%;
}

.form-container button {
  padding: 10px;
}

.box-link {
  text-decoration: none;
}

.box-container {
  background-color: white;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
  margin: 0 auto; /* Center the container on the page */
  margin-top: 50px;
  margin-bottom: 50px;
  max-width: 1000px; /* Set a maximum width */
  width: 100%; /* Make the container fill the available width */
  height: 300px;
  overflow: hidden;

}

.box-center {
  display: flex;
  justify-content: center;
  align-items: center;
}

.box-content {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
}

.box-text {
  flex: 1;
  text-align: center;
  margin-right: 20px;
  margin-left: 20px;
}

.box-text h2 {
  margin: 0;
  color: #333333;
}

.box-text p {
  margin: 5px 0;
  color: black;
}

.box-image {
  position: relative;
  left: 39%;
  flex: 1;
  text-align: right;
}

.box-image img {
  width: 360px;
  height: 480px;
}

.box-arrow {
  color: white;
  font-weight: bold;
  margin-top: 20px;
}

.box-arrow span {
  margin-left: 5px;
}

.box-arrow p {
  margin: 0;
}